.headPage {
  &__box {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: calc(100vh - 80px);
    background-image: url("../../../Images/mclaren.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(0.4px);
    box-shadow: inset 0px -50px 36px rgba(0, 0, 0, 1);

    @media (max-width: 414px) {
      top: 100px;
      height: calc(100vh - 100px);
      background-position: center top;
      // background-image: url("https://i.ibb.co/wQJ4kh4/600-LT-Spider-Performance-1920x1080.jpg");
      background-image: url("../../../Images/mobilebmw.jpg");
      background-attachment: scroll;
      filter: blur(0);
    }
  }

  &__box-image {
    position: absolute;
    bottom: -10%;
    left: 20%;
    transform: translate(-50%, -50%);
    height: 23vh;
    width: 23vh;
    background-image: url("../../../Images/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    animation: moveLogo 3s forwards,
      showLogo 3s 0.8s forwards;

    @media (max-width: 1150px) {
      left: 35%;
    }

    @media (max-width: 650px) {
      height: 15vh;
      width: 15vh;
      left: 50%;
      transform: translate(-50%, -50%);
      // animation: moveLogoMobile 3s forwards,
      //   showLogo 3s 0.8s forwards;
    }

    @media (max-width: 850px) and (orientation: landscape) {

      animation: moveLogoMedia 3s forwards,
        showLogo 3s 0.8s forwards;
    }


  }

  @keyframes showLogo {
    0% {}

    100% {
      opacity: 1;
    }
  }

  @keyframes moveLogo {
    0% {}

    100% {
      // bottom: 12%;
      bottom: 12%;
    }
  }

  @keyframes moveLogoMobile {
    0% {}

    100% {
      // bottom: 12%;
      bottom: 2%;
    }
  }

  @keyframes moveLogoMedia {
    0% {}

    100% {
      bottom: 32%;
    }
  }




  &__title,
  &__sub-title {
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 45px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    z-index: 1;


    @media (max-width: 1150px) {
      left: 35%;
    }

    @media (max-width: 650px) {
      font-size: 30px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: 290px) {
      font-size: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    top: 87%;

    @media (max-width: 850px) and (orientation: landscape) {
      top: 80%;
    }
  }

  &__sub-title {
    top: 80%;

    @media (max-width: 650px) {
      top: 81%;
    }

    @media (max-width: 850px) and (orientation: landscape) {
      top: 65%;
    }
  }
}