.headPage {
  &__box {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: calc(100vh - 80px);
    background-image: url("https://sn3301files.storage.live.com/y4pkwogT7B_hJEKlZrvsl11Y5FzDuR6-pqlOOyFMqf7ULfAE1SXzuaaKmtXRaMr2zPS2x3z9QYdAl_j9vmtGeK-K8nZJRL7BAmt_ab3cdb6s4mCrgkqz8ifWi8hml9RyPGcAIxS9No1iKq2onYNPl8k7_Qt-ZPvwA-LdkQD-hzBMf9_AP8opIWXssfoe99cjqPPqrUu5yFK12LddyxQ3fpLvGKpEVS0L6lfZdbRtWLU29E/Slider-scaled.jpg?psid=1&width=1595&height=897");
    // background-image: url("https://iv.pl/images/ba6543c360115dfb17fc98e340f78f7f.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(0.4px);
    // border-bottom: 5px solid red;
    box-shadow: inset 0px -50px 36px rgba(0, 0, 0, 1);

    @media (max-width: 650px) {
      top: 100px;
      background-position: 65% bottom;
    }
  }

  &__box-image {
    position: absolute;
    bottom: 0;
    left: 27%;
    transform: translate(-50%, -50%);
    height: 23vh;
    width: 23vh;
    background-image: url("https://bn1304files.storage.live.com/y4pc_nHdtswtDVqiD4ELgNmmx5XV3QMTe_YwbGlzL5SyDU1NT0HMgWBDOesV0rsoeHoG4dkT9Ij-foTKVvi7Pc3K1DTiY8vs6Nn-1kTt3xxWLlTeh8wkqVQf5ErmOQJoiDst_s2Xh99uBPRs2X5F-5Xg0x-MV5-1bwL-T1fBYE0dDmg03NPOkVqQpS9ywLWLQSlOtwkvvjiXGYBQq5CF07sGtQSrSoOWnt0N6xTGbUrQRo/2a5d693bb20a989bbd81ae5680530d4c.png?psid=1&width=512&height=487");
    // background-image: url("https://iv.pl/images/2a5d693bb20a989bbd81ae5680530d4c.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    animation: moveLogo 3s forwards,
      showLogo 3s 0.8s forwards;

    @media (max-width: 850px) {
      left: 35%;
    }

    @media (max-width: 650px) {
      height: 15vh;
      width: 15vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: 850px) and (orientation: landscape) {

      animation: moveLogoMedia 3s forwards,
        showLogo 3s 0.8s forwards;
    }


  }

  @keyframes showLogo {
    0% {}

    100% {
      opacity: 1;
    }
  }

  @keyframes moveLogo {
    0% {}

    100% {
      bottom: 12%;
    }
  }

  @keyframes moveLogoMedia {
    0% {}

    100% {
      bottom: 32%;
    }
  }




  &__title,
  &__sub-title {
    position: absolute;
    left: 27%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 45px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    z-index: 1;


    @media (max-width: 850px) {
      left: 35%;
    }

    @media (max-width: 650px) {
      font-size: 30px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: 290px) {
      font-size: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    top: 87%;

    @media (max-width: 850px) and (orientation: landscape) {
      top: 80%;
    }
  }

  &__sub-title {
    top: 80%;

    @media (max-width: 650px) {
      top: 81%;
    }

    @media (max-width: 850px) and (orientation: landscape) {
      top: 65%;
    }
  }
}