.car-card {
  margin-bottom: 30px;
  display: flex;
  background-color: #000;
  border-radius: 20px;
  list-style: none;
  position: relative;
  height: 380px;
  color: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    height: 550px;
  }

  @media (max-width: 680px) {
    flex-direction: column-reverse;
    height: 500px;
  }

  &__boxEven {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 25px;

    @media (max-width: 1000px) {
      flex-basis: 30%;
      padding: 15px;
    }

    @media (max-width: 680px) {
      flex-basis: 50%;
      padding: 15px;
    }
  }

  &__boxOdd {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    // background-color: red;
    padding: 25px;

    @media (max-width: 1000px) {
      flex-basis: 30%;
    }

    @media (max-width: 680px) {
      flex-basis: 50%;
    }


  }


  &__titleEven,
  &__titleOdd {
    font-family: 'Poiret One', cursive;
    color: rgb(210, 179, 108);
    // color: rgb(121, 101, 214);
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;

    @media (max-width: 1111px) {
      margin-top: 0px;
      font-size: 25px;
    }

  }


  &__dateEven,
  &__dateOdd {
    font-style: italic;
    color: #ccc;
    font-size: 14px;
    margin: 10px 15px;

    @media (max-width: 1111px) {
      font-size: 12px;
      margin: 10px 0 0 0;
    }
  }

  &__describleEven,
  &__describleOdd {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 15px 0 15px;
    text-align: justify;

    @media (max-width: 1111px) {
      font-size: 16px;
      margin: 0;
    }


  }



  &__imageBoxEven {
    position: relative;
    background-position: center center;
    background-size: cover;
    flex-basis: 60%;


    @media (max-width: 1000px) {

      flex-basis: 70%;
    }

    @media (max-width: 680px) {

      background-position: center center;
    }

  }



  &__imageBoxOddDesktop {

    background-position: center bottom;
    background-size: cover;
    flex-basis: 60%;

    @media (max-width: 1000px) {
      display: none;

    }
  }

  &__imageBoxOddMobile {
    position: relative;
    display: none;
    background-position: center center;
    background-size: cover;
    flex-basis: 60%;

    @media (max-width: 1000px) {
      flex-basis: 70%;
      display: block;

    }

    @media (max-width: 680px) {
      flex-basis: 60%;
    }

  }

  &__hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: .5s;
  }

  &__hover:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }


  &__triangleEvenDesktop,
  &__triangleOddDesktop {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 0;
    border-top: 380px solid #000;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__triangleOddDesktop {
    right: calc(40% - 1px);
    height: 100%;
    border-left: 100px solid transparent;
  }

  &__triangleEvenDesktop {
    left: -1px;
    height: 0;
    border-right: 100px solid transparent;
  }
}