.car-card {
  margin-bottom: 30px;
  display: flex;
  background-color: #000;
  border-radius: 20px;
  list-style: none;
  position: relative;
  height: 380px;
  color: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  &__boxEven {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 25px;
  }

  &__boxOdd {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    // background-color: red;
    padding: 25px;
  }


  &__titleEven,
  &__titleOdd {
    font-family: 'Poiret One', cursive;
    color: rgb(210, 179, 108);
    // color: rgb(121, 101, 214);
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;

  }


  &__dateEven,
  &__dateOdd {
    font-style: italic;
    color: #ccc;
    font-size: 14px;
    margin: 10px 15px;
  }

  &__describleEven,
  &__describleOdd {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 15px 0 15px;
    text-align: justify;
  }







  &__imageBoxEven,
  &__imageBoxOdd {

    background-position: center bottom;
    background-size: cover;
    flex-basis: 60%;
  }

  &__hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: .5s;
  }

  &__hover:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }


  &__triangleEven,
  &__triangleOdd {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 0;
    border-top: 380px solid #000;
  }

  &__triangleOdd {
    right: 40%;
    height: 100%;
    border-left: 100px solid transparent;
  }

  &__triangleEven {
    left: 40%;
    height: 0;
    border-right: 100px solid transparent;
  }
}