.login-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: black;

    &__validate-message {
        color: #f00;
        text-align: center;
    }

    &__row {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;

    }



    &__input {
        background-color: rgb(226, 226, 226);
        width: 240px;
        height: 30px;
        border-radius: 5px;
        text-indent: 5px;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
    }

    &__button {
        font-family: 'Rubik', sans-serif;
        display: block;
        height: 40px;
        width: 130px;
        background-color: #fff;
        color: #000;
        border: 2px solid #000;
        font-size: 15px;
        text-transform: uppercase;
        transition: .3s;
    }

    &__button:hover {
        background-color: #000;
        color: #fff;
    }
}