.contact {
  position: relative;
  margin-top: -15px;
  margin-bottom: -40px;
  width: 100%;
  background-image: url("https://sn3302files.storage.live.com/y4pcYG2adO2jFvnBrRp9AamPBtHoCSuBDOTX0fQokbMIVquR25uwhJHsAkp02NLuL5NVDqLgFtqfzJ42yuGYy3jT4w6vpxEOh20AnJA__cK14NL-1RQ1uFvIP_JXcHhp-vNaCtj7KNLH9257CYt0jK2rQYMl5y3j02d6VwJMsX0j_pEUfKPg5cjhubmoEZYfCfFK8ACe7z9Y3r8MxKhDgJNL8r4q6ACCVuLI63d0u-bbQw/map.png?psid=1&width=1460&height=850");
  height: 850px;
  background-position: 58% 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
  }

  &__box {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    height: 500px;
    width: 380px;
    padding: 40px;
    background-color: rgba(62, 42, 153, 0.8);

    @media (max-width: 950px) {
      top: 35%;
    }

    @media (max-width: 535px) {
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px;
    }

    @media (max-width: 400px) {
      width: 90%;
      height: 550px;
    }
  }

  h5 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  h4 {
    margin-top: 20px;
  }

  h2 {
    margin-bottom: 15px;
  }

  a {
    color: white;
  }

  a:hover {
    color: #bbb;
  }

  i {
    font-size: 30px;
    margin-right: 20px;
    transition: .2s;
  }

  .fa-facebook:hover,
  .fa-instagram:hover {
    color: #bbb
  }
}