.li {
  line-height: 85px;
  margin: 0 20px;

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }

  &__link:hover {
    color: #bbb;
  }
}

// &__item {
//   line-height: 85px;
//   margin: 0 20px;

// }

// &__link {
//   text-transform: uppercase;
//   text-decoration: none;
//   color: #fff;
// }