.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 85px;
    background-color: #000;
    border-bottom: 2px solid #000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;

    &__logo-wrapper {
        margin-top: 2px;
        width: 80px;
        height: 76px;
        background-image: url("https://iv.pl/images/91109fee16bbed24e72c7084d0534334.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 480px) {
            margin-top: 2px;
            margin-left: 5px;
        }

        @media (max-width: 339px) {
            display: none;
        }
    }

    &__title {
        display: inline;
        align-self: center;
        color: #fff;
        text-align: center;
        z-index: 2;
        font-family: 'Lexend Deca', sans-serif;

        @media (max-width: 339px) {
            text-align: left;
            padding-left: 5px;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        margin: 0 10px 0 auto;

        @media (max-width: 1111px) {
            display: none;
        }

    }

    &__item {

        margin: 0 20px;

        @media (max-width: 1111px) {
            text-align: center;
        }
    }

    &__link {
        margin-top: 32px;
        padding-bottom: 3px;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-family: 'Rubik', sans-serif;
        border-bottom: 2px solid black;

        @media (max-width: 1111px) {
            margin: 28px auto 0 auto;
            font-size: 18px;
            display: inline-block;
            border-bottom: 2px solid transparent;
        }
    }

    &__link.active {
        border-bottom: 2px solid rgb(62, 42, 153);
    }

    &__link:hover {
        color: #bbb;
    }

    &__button {
        margin: 22.5px 22.5px 22.5px 10px;
        font-family: 'Rubik', sans-serif;
        display: block;
        height: 40px;
        width: 130px;
        background-color: #000;
        color: #fff;
        border: 2px solid #fff;
        font-size: 15px;
        text-transform: uppercase;
        transition: .3s;

        @media (max-width: 1111px) {
            display: none;
        }
    }

    &__button:hover {
        background-color: #fff;
        color: #000;
    }

    .fa-bars,
    .fa-times {
        display: none;
    }

    &__mobile-menu {
        display: none;
    }


    @media (max-width: 1111px) {

        .fa-bars,
        .fa-times {
            display: block;
            margin: 0 5px 0 auto;
            padding: 0 10px;
            line-height: 85px;
            font-size: 40px;
            color: #fff;
        }


        .fa-bars:hover,
        .fa-times:hover {
            cursor: pointer;
        }

        &__mobile-menu {
            position: fixed;
            top: 85px;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);

            width: 250px;
            display: block;
            z-index: -1;
        }

        &__mobile-button {
            margin: 28px auto;
            font-size: 18px;
            width: 200px;
        }

        &__mobile-button:hover {
            background-color: #fff;
            color: #000;
        }
    }








}