@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400&display=swap');

.header { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 85px;
    background-color: #000;
    border-bottom: 2px solid #000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;

    &__logo-wrapper {
        margin-top: 0px;
        width: 80px;
        height: 80px;
        background-image: url("https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/138975616_124468519517278_1351774100529238675_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=wtSkkfjRcxcAX_UTolU&_nc_ht=scontent-frt3-2.xx&oh=a37f7f8b2cf21cb1c3f21f5667f06703&oe=60482D86");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title{
        margin-left: 20px;
        align-self: center;
        flex-grow: 1;
        color: #fff;
        font-weight: 300;
        letter-spacing: 1px;
        font-family: 'Spartan', sans-serif;
    }
}