.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 85px;
    background-color: #000;
    border-bottom: 2px solid #000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;

    &__logo-wrapper {
        margin-top: 2px;
        width: 80px;
        height: 76px;
        background-image: url("https://iv.pl/images/91109fee16bbed24e72c7084d0534334.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        display: inline;
        align-self: center;
        color: #fff;
        text-align: center;
        z-index: 2;
        font-family: 'Lexend Deca',sans-serif;

    }

    // &__underline {
    //     position: absolute;
    //     top: 40px;
    //     left: 78px;
    //     height: 11px;
    //     width: 0px;
    //     background-color: rgb(62, 42, 153);
    //     animation: underlineTitle 3s 1s forwards;
    // }

    // @keyframes underlineTitle {
    //     0% {
    //         width: 0px;
    //     }

    //     100% {
    //         width: 360px;
    //     }
    // }

    &__list {
        list-style: none;
        display: flex;
        margin: 0 10px 0 auto;

    }

    &__item {
        // line-height: 85px;
        margin: 0 20px;

    }

    &__link {
        margin-top: 32px;
        padding-bottom: 3px;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-family: 'Rubik', sans-serif;
        border-bottom: 2px solid black;
    }

    &__link.active {
        border-bottom: 2px solid rgb(62, 42, 153);
    }

    &__link:hover {
        color: #bbb;
    }

    &__button {
        margin: 22.5px 22.5px 22.5px 10px;
        font-family: 'Rubik', sans-serif;
        display: block;
        height: 40px;
        width: 130px;
        background-color: #000;
        color: #fff;
        border: 2px solid #fff;
        font-size: 15px;
        text-transform: uppercase;
        transition: .3s;
    }

    &__button:hover {
        background-color: #fff;
        color: #000;
    }



}